.advantages {
  background-color: $color-light;

  > h2 {
    @include visually-hidden;
  }
}

.advantages__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 35px 14px;

  @media (min-width: $mw-tablet) {
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 25px;
  }
}

.advantages__article {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 24px 16px 28px 26px;

  border: 1px solid $color-gray-light;
  box-shadow: inset 2px 0 $color-blue;

  @media (min-width: $mw-tablet) {
    max-width: 48%;
    margin-bottom: 25px;
    padding: 24px 21px 28px 26px;
  }

  h3 {
    @include reset-head;

    margin-top: 10px;
    margin-bottom: 10px;

    font: 400 20px/28px "Roboto Condensed", "Arial", sans-serif;
    color: $color-blue;

    @media (min-width: $mw-tablet) {
      margin-top: 0;

      font-size: 24px;
      line-height: 34px;
    }
  }

  svg {
    width: 36px;
    height: 35px;

    fill: $color-blue;
  }

  svg:hover {
    fill: $color-light;
  }

  p {
    @include reset-text;

    line-height: 21px;
    color: $color-text-primary;

    @media (min-width: $mw-tablet) {
      line-height: 22px;
    }
  }
}
