.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;

  @media (min-width: $mw-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
  }

  a {
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    cursor: pointer;
  }
}
