.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;

  @media (min-width: $mw-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
  }

  @media (min-width: $mw-desktop) {
    width: 100%;
    margin: auto;
    padding: 15px 0;

    border-top: 1px solid $color-dop-gray;
  }

  a {
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    cursor: pointer;

    @media (min-width: $mw-desktop) {
      margin: 0 25px;
    }
  }
}
