.form {
  background-color: $color-blue;

  > h2 {
    @include visually-hidden;
  }
}

form {
  margin: auto;
  padding: 28px 15px 44px;

  @media (min-width: $mw-tablet) {
    padding: 80px 15px 77px;
  }

  @media (min-width: $mw-desktop) {
    max-width: 1170px;
    padding: 90px 15px 85px;

    background: url("../img/airplane@1x.png") no-repeat left 160px;
  }

  fieldset {
    margin: 0;
    padding: 0;

    border: none;

    @media (min-width: $mw-tablet) {
      width: 590px;
      margin: auto;
    }

    @media (min-width: $mw-desktop) {
      width: 570px;
      margin-right: 0;
      margin-left: auto;
    }

    div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      margin-bottom: 28px;

      @media (min-width: $mw-tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 45px;
      }

      @media (min-width: $mw-desktop) {
        margin-bottom: 40px;
      }

      input {
        flex-grow: 1;
        min-width: 250px;
        height: 52px;
        margin-bottom: 30px;
        padding: 0;
        padding-left: 20px;

        color: $color-text-secondary;

        background-color: rgba(255, 255, 255, 0.1);
        border: none;

        @media (min-width: $mw-tablet) {
          flex-grow: 0;
          width: 260px;
          margin-bottom: 40px;
        }

        @media (min-width: $mw-desktop) {
          width: 250px;
          height: 50px;
        }
      }

      textarea {
        flex-grow: 1;
        min-width: 260px;
        min-height: 105px;
        padding: 0;
        padding-left: 20px;

        color: $color-text-secondary;

        background-color: rgba(255, 255, 255, 0.1);
        border: none;

        resize: none;

        @media (min-width: $mw-tablet) {
          min-height: 160px;
        }

        @media (min-width: $mw-desktop) {
          min-height: 154px;
        }
      }

      ::placeholder {
        padding-top: 20px;
        padding-left: 20px;

        font: 400 16px/52px "PT Mono", "Courier New", monospace;
      }
    }

    div:nth-of-type(2) {
      width: 290px;
      margin: auto;

      @media (min-width: $mw-tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
      }

      button {
        @include btn;

        width: 100%;
        min-width: 270px;
        min-height: 46px;
        margin-bottom: 28px;

        font: 700 14px/16px "Roboto Condensed", "Arial", sans-serif;
        color: $color-text-secondary;

        background-color: $color-blue;
        border: 1px solid $color-light;

        @media (min-width: $mw-tablet) {
          width: 280px;
        }

        @media (min-width: $mw-tablet) {
          width: 270px;
        }
      }

      input {
        @include visually-hidden;
      }

      input:checked + label::before {
        background: url("../img/svg/check.svg") no-repeat center;
      }

      label {
        position: relative;

        display: block;
        margin-left: 35px;

        font: 400 14px/16px "PT Mono", "Courier New", monospace;
        color: $color-text-secondary;

        cursor: pointer;
        opacity: 0.8;

        @media (min-width: $mw-tablet) {
          width: 235px;
          margin-top: 10px;
        }

        @media (min-width: $mw-desktop) {
          width: 230px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 5px;
          left: -35px;

          width: 16px;
          height: 16px;

          border: 1px solid $color-light;
          ;
        }
      }
    }
  }

  legend {
    margin-bottom: 16px;
    padding: 0;

    font: 400 28px/39px "Roboto Condensed", "Arial", sans-serif;
    color: $color-text-secondary;

    @media (min-width: $mw-tablet) {
      font: 400 32px/45px "Roboto Condensed", "Arial", sans-serif;
    }

    @media (min-width: $mw-desktop) {
      margin-bottom: 12px;

      font: 400 36px/51px "Roboto Condensed", "Arial", sans-serif;
    }
  }

  p {
    @include reset-text;

    margin-bottom: 24px;

    color: $color-text-secondary;

    @media (min-width: $mw-tablet) {
      margin-bottom: 50px;
    }
  }
}
