.services {
  background-color: $color-gray-dark;
}

.services__inner {
  margin: auto;
  padding: 50px 15px 35px;

  > h2 {
    @include reset-head;

    margin-bottom: 40px;
    margin-left: 10px;

    font: 400 28px/39px "Roboto Condensed", "Arial", sans-serif;
    color: $color-text-secondary;

    @media (min-width: $mw-tablet) {
      margin-right: 100px;
      margin-bottom: 49px;
      margin-left: 0;

      font: 400 32px/45px "Roboto Condensed", "Arial", sans-serif;
    }

    @media (min-width: $mw-desktop) {
      margin-bottom: 54px;

      font: 400 36px/51px "Roboto Condensed", "Arial", sans-serif;
    }
  }

  @media (min-width: $mw-tablet) {
    max-width: 720px;
    padding: 50px 29px 30px 26px;
  }

  @media (min-width: $mw-desktop) {
    max-width: 1170px;
    padding: 86px 29px 80px 26px;
  }
}

.services__list {
  @include reset-list;

  max-width: 290px;
  margin: auto;
  overflow: hidden;

  @media (min-width: $mw-tablet) {
    max-width: 720px;
  }

  @media (min-width: $mw-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
  }
}

.services__item {
  position: relative;

  display: block;
  height: 256px;
  margin-bottom: 30px;

  cursor: pointer;

  @media (min-width: $mw-tablet) {
    margin-bottom: 47px;
  }

  @media (min-width: $mw-desktop) {
    width: 370px;
    height: 620px;
  }

  &::after {
    content: ">";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;

    line-height: 63px;
    text-align: center;
    color: $color-text-secondary;

    background-color: $color-blue;
  }

  h3 {
    @include reset-head;

    position: absolute;
    top: 20px;
    left: 36px;

    width: 170px;

    font: 400 20px/30px "Roboto Condensed", "Arial", sans-serif;
    color: $color-text-secondary;

    @media (min-width: $mw-tablet) {
      top: 40px;
      left: 45px;
    }

    @media (min-width: $mw-desktop) {
      top: 50px;
    }
  }

  img {
    opacity: 0.2;
  }

  &:hover img {
    opacity: 1;
  }
}
