$mw-mobile: 320px;
$mw-tablet: 760px;
$mw-desktop: 1400px;
$dppx-2: "min-resolution: 1.5dppx";
$color-text-primary: #666666;
$color-text-secondary: #ffffff;
$color-blue: #00b2ff;
$color-gray: #788891;
